html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{settings.siteName} - #{model.title}
    link(rel="preconnect", href="https://app.snipcart.com")
    link(rel="preconnect", href="https://cdn.snipcart.com")
    link(rel="stylesheet",
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.0/css/all.css")
    link(rel="stylesheet", href="https://cdn.snipcart.com/themes/v3.0.30/default/snipcart.css")
    link(rel="stylesheet", href="/stylesheets/site.css")
  body.text-center.container.w-100.h-100.p-3.mx-auto.flex-column
    section.container
      nav.navbar.navbar-light.fixed-top.justify-content-between.snipcart-summary
        a.mx-3(href="/")
          i.fa.fa-home.fa-lg
        a.nav-link.snipcart-checkout(href="#")
          i.fa.fa-shopping-cart
          |  (
          span.snipcart-items-count
          |) Checkout
      header.rounded-lg.m-5
          h1.display-4.m-5
            a(href="/")=settings.siteName
      main.inner.cover(role="main")
        block content
      footer.mastfoot.mt-auto.py-3.fixed-bottom
        .inner
          | Made with {code} by 
          a(href="https://snipcart.com", target="_blank") Snipcart
          |  | 
          a(href="https://github.com/snipcart/snipcart-koajs", target="_blank")
            i.fab.fa-github
            |  GitHub 
          | | 
          a(href="https://twitter.com/Snipcart", target="_blank")
            i.fab.fa-twitter
            |  Twitter
        .inner
          | Cover template for 
          a(href="https://getbootstrap.com/", target="_blank") Bootstrap
          |  by 
          a(href="https://twitter.com/mdo", target="_blank") @mdo
          |.
    script(id="snipcart",
      src='https://cdn.snipcart.com/themes/v3.0.30/default/snipcart.js',
      data-api-key=settings.snipcartApiKey,
      data-config-modal-style="side"
    )
    script(
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js')
    block scripts