extends _layout
block scripts
  script(src="/scripts/donate.js")
  // TODO fix donation
block content
  section.container.mx-auto.h-100
    h2.cover-heading.mb-4=model.title
    .form-group
    label.mb-3(for="amount") Please enter your donation amount below
    input#amount.mb-4.w-25.form-control.mx-auto.text-center(type="number", value=model.amount)
    button#donate.btn.btn-secondary.snipcart-add-item(
      data-item-id="donation"
      data-item-url=`${urlWithoutQuery}?amount=${model.amount}`
      data-item-name="Donation"
      data-item-description="Can't thank you enough! 😘"
      data-item-price=model.amount
      data-item-shippable="false"
      data-item-categories="donations"
      data-item-max-quantity="1"
      data-item-taxable=false
      ) Add to cart