extends _layout
block content
  p
    a(href="/") ← Back
  .container
    .row.justify-content-md-center.mb-3
      .col.col-lg-6
        img.w-100(
          src=model.product.image, 
          alt=model.product.name
        )
    .row.justify-content-md-center.mb-3
      .col.col-lg-12
        h2.cover-heading=model.title
        p=model.product.description
        p
          span.badge.badge-success $#{model.product.price}
        button.btn.btn-secondary.snipcart-add-item(
          data-item-id=model.product.id
          data-item-name=model.product.name
          data-item-url=urlWithoutQuery
          data-item-price=model.product.price
          data-item-description=model.product.description
          data-item-image=model.product.image
        ) Add to cart
