extends _layout
block content
  .container
    .row.justify-content-md-center.mb-3
      .col.col-lg-6
        img.mt-3.mb-5.w-75(
          src=model.product.image, 
          alt=model.product.name
        )
    .row.justify-content-md-center.mb-5.pb-5
      .col.col-lg-12
        h2.cover-heading=model.title
        p=model.product.description
        div
          h5.mb-4 $#{model.product.price}
        button.btn.btn-lg.btn-secondary.mb-5.snipcart-add-item(
          data-item-id=model.product.id
          data-item-name=model.product.name
          data-item-url=urlWithoutQuery
          data-item-price=model.product.price
          data-item-description=model.product.description
          data-item-image=model.product.image
        ) Add to cart
